<div class="css-divpaeto">
    <header class="css-fqcnuc">
        <a [routerLink]="['/characters']"><img class="css-liflbbm" src="	https://web.dragonball-api.com/images-compress/android-icon-192x192.webp"></a>
        <div class="links">
            <a [routerLink]="['/characters']"><button class="boton">Characters</button></a>
            <a [routerLink]="['/planets']"><button class="boton">Planets</button></a>
            <a href="https://web.dragonball-api.com/documentation"><button class="boton">API</button></a>
        </div>
    </header>
</div>