<div class="card">
    <div class="fondo-personaje">
        <img class="personaje" src="https://dragonball-api.com/characters/goku_normal.webp" alt="Avatar">
    </div>

    <div class="container">
      <div style="z-index: 1;">
        <h2 class="nombre">Goku</h2>
        <p class="raza-genero">Saiyan - Male</p>
      </div>

      <div class="datos-extra">
        <div>
          <p class="datos-extra-p">Base KI</p>
          <span class="datos-extra-s">60,000,000</span>
        </div>
        <div>
          <p class="datos-extra-p">Total KI</p>
          <span class="datos-extra-s">90 Septillion</span>
        </div>
        <div>
          <p class="datos-extra-p">Afilliation</p>
          <span class="datos-extra-s">Z Fighter</span>
        </div>
      </div>

    </div>
  </div>